
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

@media (prefers-color-scheme: light) {
  .input {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }
}